<launch>

  <!-- ***************************** add Avengers_Thor_PLlrpYniaeB ***************************** -->
  <node
    name="spawn_Avengers_Thor_PLlrpYniaeB"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find panda_world)/models/Avengers_Thor_PLlrpYniaeB/model.sdf -sdf -x 0.65 -y 0.35 -z 1.025 -R 0 -P 0 -Y 0 -model model_Avengers_Thor_PLlrpYniaeB" respawn="false" output="screen" />

  <!-- ***************************** add Avengers_Thor_PLlrpYniaeB ***************************** -->

  
  <!-- ***************************** add Transformers_Age_of_Extinction_Mega_1Step_Bumblebee_Figure ***************************** -->
  <node
    name="spawn_Transformers_Age_of_Extinction_Mega_1Step_Bumblebee_Figure"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find panda_world)/models/Transformers_Age_of_Extinction_Mega_1Step_Bumblebee_Figure/model.sdf -sdf -x 0.646 -y 0.004 -z 1.025 -R 0 -P 0 -Y 0.785 -model model_Transformers_Age_of_Extinction_Mega_1Step_Bumblebee_Figure" respawn="false" output="screen" />

  <!-- ***************************** add Transformers_Age_of_Extinction_Mega_1Step_Bumblebee_Figure ***************************** -->


  <!-- ***************************** add My_Little_Pony_Princess_Celestia ***************************** -->
  
  <node
    name="spawn_My_Little_Pony_Princess_Celestia"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find panda_world)/models/My_Little_Pony_Princess_Celestia/model.sdf -sdf -x 0.65 -y -0.35 -z 1.025 -R 0 -P 0 -Y 1.5708 -model model_My_Little_Pony_Princess_Celestia" respawn="false" output="screen" />

  <!-- ***************************** add My_Little_Pony_Princess_Celestia ***************************** -->

</launch>

